@import './custom.scss';

// Variables
$enable-negative-margins: true;

// Mixins
@mixin baseline() {
    color: #fff;
    block-size: fit-content;
    min-height: 100vh;
}

@mixin logo() {
    font-family: 'Goblin One', cursive;
    font-size: xx-large;
    color: red;
}

@mixin backLight() {
    box-shadow: 0px 0px 54px -4px rgba(255,255,255,0.7);
}

// Keyframes
@keyframes movedown {
    0% {
        transform: translateY(-100px);
        visibility: visible;
    }
    100% {
        transform: translate(0);
        visibility: visible;
    }
}

// Global Styles
body {
    font-family: 'Raleway', sans-serif;
}

#App {
    background-color: rgb(61, 61, 61);
    width: 100%;
}

// Navigation
nav {
    position: sticky;
    top: 0px;
    background-color: white;
    width: 100%;
    img {
        height: 35px;
    }

    h2 {
        @include logo;
    }

    ul {
        .nav-link {
            padding-right: 1em;
            font-family: 'Goblin One', cursive;
            font-size: small;
            color: red;
            &:focus, &:hover {
                color: rgb(0, 0, 0);
            }
        }

        .vr {
            width: 1px;
        }
    }
}

// Main Section
#Main, #About, #Projects, #Contact {
    @include baseline;
}

#Main {
    img {}

    h1, h2, h3, h4, h5 {
        font-family: 'Cinzel', serif;
    }

    .RotatingGlobe {
        overflow: hidden;
        height: 50vh;
    }
}

#About {
    p {
        font-family: 'Cinzel', serif;
        letter-spacing: 0.1em;
    }
}

#Projects {
    div p {
        font-family: 'Playfair Display', serif;
    }
}

#Contact {
    letter-spacing: 0.15em;
    line-height: 2;
    font-family: 'Playfair Display', serif;

    a {
        color: white;
        transition: 0.5s;
        transition-property: transform;
        &:hover {
            color: red;
            transform: scale(1.5);
        }
    }

    .alert {
        width: 50%;
        left: 25%;
    }
}

#Footer {
    background-color: rgb(255, 255, 255);

    img {
        height: 35px;
    }

    h2 {
        @include logo;
    }

    div > a {
        color: rgb(0, 0, 0);
        transition: 0.5s;
        transition-property: transform;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 0.2em;
        &:hover {
            color: red;
            transform: scale(1.5);
        }
    }

    .disableLink {
        pointer-events: none;
    }

    .AllRights {
        color: black;
    }

    .hack {
        border: 1px solid black;
    }
}

// Media Queries
// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {
    nav {
        img {
            margin-left: 10px;
        }
        .nav-link {
            margin-left: 0 !important;
        }
    }
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1;
        border-radius: 0.2rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// Z-Index Variables
$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
