@import '//node_modules/bootstrap/scss/bootstrap.scss';
@-webkit-keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translate(0);
    visibility: visible;
  }
}
@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translate(0);
    visibility: visible;
  }
}
#App {
  background-color: rgb(20, 20, 20);
  font-family: "Raleway", sans-serif;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0px;
  background-color: black;
}
nav img {
  height: 35px;
}
nav h2 {
  font-family: "Goblin One", cursive;
  font-size: xx-large;
  color: red;
}
nav ul .nav-link {
  padding-right: 1em;
  font-family: "Goblin One", cursive;
  font-size: small;
  color: red;
}
nav ul .nav-link:focus, nav ul .nav-link:hover {
  color: white;
}
nav ul .vr {
  width: 1px;
}

#Main {
  height: 100vh;
  color: #fff;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  font-family: "Bebas Neue", cursive;
}
#Main img:nth-child(1) {
  max-height: 50vh;
}
#Main h1:nth-child(1) {
  font-family: "Raleway", sans-serif;
}
#Main h2 {
  font-family: "Cinzel", serif;
  font-family: "Playfair Display", serif;
}
#Main p {
  font-family: "Playfair Display", serif;
}

#About {
  height: 100vh;
  color: #fff;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  font-family: "Bebas Neue", cursive;
  height: 100vh;
  overflow: auto;
  overflow: scroll;
}
#About div p:nth-child(1) {
  letter-spacing: 0.1em;
}
#About div p {
  font-family: "Raleway", sans-serif;
}
#Projects {
  height: 100vh;
  color: #fff;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  font-family: "Bebas Neue", cursive;
  height: 100vh;
}
#Projects div p {
  font-family: "Playfair Display", serif;
}

#Contact {
  height: 100vh;
  color: #fff;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  font-family: "Bebas Neue", cursive;
  height: 100vh;
  font-family: "Playfair Display", serif;
}
#Contact a {
  color: white;
  transition: 0.5s;
  transition-property: transform;
  letter-spacing: 0.2em;
}
#Contact a:hover {
  color: red;
  transform: scale(1.5);
}

#Footer {
  height: 100vh;
  color: #fff;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  font-family: "Bebas Neue", cursive;
  background-color: black;
  height: 30vh;
}
#Footer img {
  height: 35px;
}
#Footer h2 {
  font-family: "Goblin One", cursive;
  font-size: xx-large;
  color: red;
}
#Footer div > a {
  color: white;
  transition: 0.5s;
  transition-property: transform;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
}
#Footer div > a:hover {
  color: red;
  transform: scale(1.5);
}

#Construction {
  height: 100vh;
  color: #fff;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  font-family: "Bebas Neue", cursive;
}/*# sourceMappingURL=main.css.map */