@import './custom.scss';


//IDK WHY I can't import bootstrap variables of the different
//shades of colors.

// font-family: 'Bebas Neue', cursive;
// font-family: 'Cinzel', serif;
// font-family: 'Goblin One', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;


@mixin baseline() {
    color: #fff;
    block-size: fit-content;
    font-family: 'Bebas Neue', cursive;
}

@mixin logo() {
    font-family: 'Goblin One', cursive;
    font-size: xx-large;
    color: red;
}

@mixin backLight() {
    box-shadow: 0px 0px 54px -4px rgba(255,255,255,0.7);
}

@keyframes movedown {
    0% {
        transform: translateY(-100px);
        visibility: visible;
    }
    100% {
        transform: translate(0);
        visibility: visible;
    }
}
//css styling

#App {
    background-color: rgb(61, 61, 61);
    font-family: 'Raleway', sans-serif;

}

nav {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: white;

    img {
        height: 35px;
    };

    h2 {
        @include logo;
    }

    button {

    }

    ul {
        .nav-link {
            padding-right: 1em;
            font-family: 'Goblin One', cursive;
            font-size: small;
            color: red;
            &:focus, &:hover{
                color: black;
            }
        }
        .vr {
            width: 1px;            
        }
    }

}


#Main {
    @include baseline;
    min-height: 100vh;
    img {
        // @include backLight();
         
    }
    
    h1, h2, h3, h4, h5 {
        font-family: 'Cinzel', serif;
    }
}

#About {
    @include baseline;
    min-height: 100vh;
    p {
        font-family: 'Cinzel', serif;
        letter-spacing: 0.1em;
    }
    img {

        }
}

#Projects {
    @include baseline;
    min-height: 100vh;
    div p {
        font-family: 'Playfair Display', serif;
    }
}

#Contact {
    @include baseline;
    min-height: 100vh;
    letter-spacing: 0.15em;
    line-height: 2;

    font-family: 'Playfair Display', serif;
    a {
        color: white;
        transition: 0.5s;
        transition-property: transform;
        &:hover{
            color: red;
            transform: scale(1.5);
        }
    }

    .alert {
        width: 50%;
        left: 25%;
    }
}

#Footer {
    @include baseline;
    background-color: rgb(61, 61, 61);

    img {
        height: 35px;
    }

    h2 {
        @include logo;
    }

    div > a {
        color: white;
        transition: 0.5s;
        transition-property: transform;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 0.2em;
        &:hover{
            color: red;
            transform: scale(1.5);
        }
    }
    .disableLink {
        pointer-events: none;
    }


}

#Construction {
    @include baseline;
}

//responsive styling

// Small devices (landscape phones, 576px and down)
@media (max-width: 400px) {
    @mixin logo() {
    font-family: 'Goblin One', cursive;
    font-size: large;
    color: blue;
    }
    .nav-link {
        margin-left: 0 !important;
    }
    
    #clogo {
        margin-left: 0 !important;
    }

    .navbar-toggler {
        margin: 0 !important;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// @include media-breakpoint-up(xs) {  }
// @include media-breakpoint-up(sm) {  }
// @include media-breakpoint-up(md) {  }
// @include media-breakpoint-up(lg) {  }
// @include media-breakpoint-up(xl) {  }

// // Example usage:
// @include media-breakpoint-up(sm) {
// //   .some-class {
// //     display: block;
// //   }
// }

$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;