@import '//node_modules/bootstrap/scss/bootstrap.scss';
@-webkit-keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translate(0);
    visibility: visible;
  }
}
@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translate(0);
    visibility: visible;
  }
}
#App {
  background-color: rgb(20, 20, 20);
  font-family: "Raleway", sans-serif;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0px;
  background-color: black;
}
nav img {
  height: 35px;
}
nav h2 {
  font-family: "Goblin One", cursive;
  font-size: xx-large;
  color: rgb(255, 255, 255);
}
nav ul .nav-link {
  padding-right: 1em;
  font-family: "Goblin One", cursive;
  font-size: small;
  color: rgb(255, 255, 255);
}
nav ul .nav-link:focus, nav ul .nav-link:hover {
  color: red;
}
nav ul .vr {
  width: 1px;
}

#Main {
  color: #fff;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  font-family: "Bebas Neue", cursive;
  contain: content;
}
#Main h1, #Main h2, #Main h3, #Main h4, #Main h5 {
  font-family: "Cinzel", serif;
}

#About {
  color: #fff;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  font-family: "Bebas Neue", cursive;
  min-height: 100vh;
}
#About p {
  font-family: "Cinzel", serif;
  letter-spacing: 0.1em;
}
#Projects {
  color: #fff;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  font-family: "Bebas Neue", cursive;
  min-height: 100vh;
}
#Projects div p {
  font-family: "Playfair Display", serif;
}

#Contact {
  color: #fff;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  font-family: "Bebas Neue", cursive;
  min-height: 100vh;
  letter-spacing: 0.15em;
  line-height: 2;
  font-family: "Playfair Display", serif;
}
#Contact a {
  color: white;
  transition: 0.5s;
  transition-property: transform;
}
#Contact a:hover {
  color: red;
  transform: scale(1.5);
}
#Contact .alert {
  width: 50%;
  left: 25%;
}

#Footer {
  color: #fff;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  font-family: "Bebas Neue", cursive;
  background-color: black;
}
#Footer img {
  height: 35px;
}
#Footer h2 {
  font-family: "Goblin One", cursive;
  font-size: xx-large;
  color: red;
}
#Footer div > a {
  color: white;
  transition: 0.5s;
  transition-property: transform;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
}
#Footer div > a:hover {
  color: red;
  transform: scale(1.5);
}
#Footer .disableLink {
  pointer-events: none;
}

#Construction {
  color: #fff;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  font-family: "Bebas Neue", cursive;
}

@media (max-width: 400px) {
  .nav-link {
    margin-left: 0 !important;
  }
  #clogo {
    margin-left: 0 !important;
  }
  .navbar-toggler {
    margin: 0 !important;
  }
}/*# sourceMappingURL=main.css.map */