.navbar {
    scroll-padding-top: 500px;
}

#clogo {
    height: 2.5em;
    align-self: center;
    margin-right: 1em;
}

.navbar-brand {
    font-size: 3em;
    font-weight: 500;
    color: rgb(230, 0, 0);
}

.navbar-brand:hover {
    color: aliceblue;
}

.nav-link {
    font-size: 1em;
    color: antiquewhite;
}

.nav-link:hover {
    color: rgb(230, 0, 0);
}

.navbar-toggler {
    background-color: crimson;
}

.navbar-collapse {
    text-align: center;
}